[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-mongoengine-3 = "*"
flask-restful = "*"
flask-jwt-extended = "*"
flask-bcrypt = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
